<div class="container create-user">
    <form (ngSubmit)="onSubmit()">
        <h2>REGISTER</h2>
        <div class="form-group">
            <!-- <div th:if="${param.error}" class="alert alert-error">
                <small class="form-inline justify-content-center">Username
                    already used !</small>
            </div> -->
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span> <input type="text"
                    class="form-control" name="username" placeholder="Username" maxlength="20"
                    pattern="[a-zA-Z0-9!@#$&()\\-`.+,/]*" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input id="password" type="password" class="form-control" name="password" placeholder="Password"
                    maxlength="15" minlength="6" pattern="[a-zA-Z0-9!@#$&()\\-`.+,/]*" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span> <input id="passwordConfirm"
                    type="password" class="form-control" name="passwordConfirm" placeholder="Password Confirm"
                    maxlength="15" minlength="6" pattern="[a-zA-Z0-9!@#$&()\\-`.+,/]*" required="required">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group button-oneline">
                    <button routerLink="/login" type="button"
                        class="btn btn-primary mb-2">Back</button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mb-2">Register</button>
                </div>
            </div>
        </div>
    </form>
</div>